---
import Layout from '../layouts/Layout.astro';
import Section from '../layouts/Section.astro';
import Slider from '../components/Slider.astro';
import Button from '../components/Button.astro';
import SectionTitle from '../components/SectionTitle.astro';
import fediImg from "../img/fedi.jpg";
import corniceFioriImg from "../img/cornice-fiori.png";
import honeyMoonImg from "../img/honey-moon.jpg";
---

<Layout title="Matrimonio Marco e Katia">
	<main>
		<Slider slides={[
			{imgSrc: "https://www.truephotography.com/blog/wp-content/uploads/2016/03/0053Christy_Stephen_pf.jpg"},
			{imgSrc: "https://www.christianwebhost.com/blog/wp-content/uploads/2019/05/christian-wedding-ceremony.jpeg"},
		]}/>
		<Section id="introduction" >
				<div class="col-span-9">
					<SectionTitle>
						Marco e Katia si sposano, finalmente! 🥳
					</SectionTitle>
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit asperiores consequuntur ad porro fuga rerum numquam itaque? Rem nisi dolorum praesentium maxime quas fuga culpa sunt. Id, alias distinctio? Nihil?</p>
				</div>
				<img src={fediImg.src} class="col-span-3 px-12 pt-4" />
		</Section>
		<Section id="adhesion" bgColor='bg-light-peach'>
			<div class="col-span-4">
				<img src={corniceFioriImg.src} alt="">
			</div>
			<div class="col-span-8">
				<SectionTitle>Facci sapere se ci sarai</SectionTitle>
				<p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium voluptatem eos nihil error ipsum porro sequi veniam repellendus iure quaerat accusantium incidunt, deleniti quas quam culpa odio qui. Soluta, nihil?</p>
				<Button>Completa il form di adesione</Button>
			</div>
		</Section>
		<Section id="time-location">
			<div class="col-span-12">
				<SectionTitle>
					La Funzione - Chiesa di San Matrimonio
				</SectionTitle>
				<b>Orario 8:00 - link alla mappa</b>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores natus totam pariatur laborum aperiam tenetur amet ipsa praesentium, dicta eius magnam harum repellat dolor molestiae accusantium odit recusandae! Non, nulla?</p>
			</div>
			<div class="col-span-12">
				<SectionTitle>
					La Festa - Ristorante la ginestra
				</SectionTitle>
				<b>Orario 14:00 - link alla mappa</b>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim autem natus dolores maiores suscipit mollitia doloribus, fugiat iusto aspernatur dolorem id, explicabo iure dolor placeat totam reprehenderit voluptate est architecto!</p>
			</div>
			<div class="col-span-12 flex justify-center">
				<Button>Vedi programma esteso</Button>
			</div>
		</Section>
		<Section id="present" bgColor='bg-light-yellow'>
			<div class="col-span-8">
				<SectionTitle>Cosa ci piacerebbe</SectionTitle>
				<p>Sezione che rimanda all’attenzione sul regalo di nozze e sulla mail di risposta.</p>
			</div>
			<img src={honeyMoonImg.src} class="col-span-4 mt-[-5rem]" />
		</Section>
	</main>
</Layout>
