---
import Layout from '../layouts/Layout.astro';
import Slider from '../components/Slider.astro';
---

<Layout title="Matrimonio Marco e Katia">
	<main>
		<Slider slides={[
			{imgSrc: "https://www.truephotography.com/blog/wp-content/uploads/2016/03/0053Christy_Stephen_pf.jpg"},
			{imgSrc: "https://www.christianwebhost.com/blog/wp-content/uploads/2019/05/christian-wedding-ceremony.jpeg"},
		]}/>
		<h2>Marco e Katia si sposano, finalmente! 🥳</h2>
		<section id="time-location">
			<h2>Orario location</h2>
			<p>Alla chesa</p>
			<p>Al rinfresco</p>
		</section>
		<section id="program">
			<h2>Programma</h2>
			<button>Vedi il programma esteso</button>
		</section>
		<section id="adhesion">
			<h2>Facci sapere se ci sarai</h2>
			<button>Completa il form di adesione</button>
		</section>
		<section id="present">
			<h2>Cosa ci piacerebbe</h2>
			<p>Sezione che rimanda all’attenzione sul regalo di nozze e sulla mail di risposta.</p>
		</section>
	</main>
</Layout>
